apispec==6.3.0
astroid==2.15.8
attrs==23.1.0
Babel==2.13.1
click==8.1.7
colorama==0.4.6
Deprecated==1.2.14
dill==0.3.7
dnspython==2.3.0
email-validator==1.3.1
et-xmlfile==1.1.0
Flask==2.2.5
Flask-AppBuilder==4.3.9
Flask-Babel==2.0.0
Flask-JWT-Extended==4.5.3
Flask-Limiter==3.5.0
Flask-Login==0.6.3
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.1.1
greenlet==3.0.1
idna==3.4
importlib-metadata==6.7.0
importlib-resources==5.12.0
isort==5.11.5
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.17.3
lazy-object-proxy==1.9.0
limits==3.6.0
markdown-it-py==2.2.0
MarkupSafe==2.1.3
marshmallow==3.19.0
marshmallow-sqlalchemy==0.26.1
mccabe==0.7.0
mdurl==0.1.2
mysqlclient==2.1.1
openpyxl==3.1.2
ordered-set==4.1.0
packaging==23.2
pkgutil-resolve-name==1.3.10
platformdirs==4.0.0
prison==0.2.1
pygments==2.17.1
PyJWT==2.8.0
pylint==2.17.7
pyrsistent==0.19.3
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
rich==13.7.0
six==1.16.0
SQLAlchemy==1.4.50
SQLAlchemy-Utils==0.41.1
tomli==2.0.1
tomlkit==0.12.3
typed-ast==1.5.5
typing-extensions==4.7.1
Werkzeug==2.2.3
wrapt==1.16.0
WTForms==3.0.1
zipp==3.15.0
