.title-row {
    display: flex;
    align-items: flex-end;
}

.title-icon-column {
    margin-bottom: auto;
    width: 60px;
}

.title-column {
    margin-bottom: auto;
}
.title-text{
    font-size: xx-large !important;
    font-weight: 400 !important;
    
}
.index-box {
    
    color: white;
    padding-top: 48px; 
    padding-bottom: 48px;
}
.index-title{
    margin-top: 30px !important;
    margin-bottom: 0px !important;
    font-size: 45px !important;
    color: #ffffff !important;
    
    
}
.index-subtitle{
    font-size: 13px;
    
    margin-top: 0px !important;
    margin-bottom: 3px !important;
}
.index-login a{
    color: white;
}
.jumbotron.index-table{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-color: #154b7a;
    height: 530px;
    padding: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
    
}
.index-tabledata{
    background-color: #1e90ff;
}
.jumbotron.index-box{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; 
    background-color: #172f45;
    background-repeat: round;
    background-size: cover;
    padding: 0;
    min-height: 265px;
    margin-bottom: -1px;
}
.q-logo{
    float: left;
}
img.qlogo-img{
    margin-bottom: 20px;
    float: inline-end;
    width: 70px;
    
}
.col-sm-6.qlogo-img{
    min-height: 150px;
    width: 60%;
}
span#basic-addon1{
    text-align: left;
    background: #154b7b;
    color: #feb64e;
    min-width: 110px;
    border: 1px;
}
.export-btn{
    background-color: #bf2b35;
    border-color: #bf2b35;
    float: inline-end;
}
.table-footer{
    margin: 0;
}
.tabulator-headers{
    color: #ffffff;
    
}
.tabulator-col-content{
    background-color: rgb(0 149 135);
}
.lib-logo{
    margin-top: -14px;
    /* margin: -33px; */
    margin-left: 73px;
    /* position: absolute; */
    margin-right: 9px;
    width: 115px;
    float: inline-start;
}
.navbar-inverse {
    background-color: #bf2b35;
    border-color: #bf2b35;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-brand>img {
    height: 50px;
    margin-bottom: 10px;
}
.navbar-brand{
    padding: 0 !important;
}
.tabulator{
    background-color: #eeeeee !important;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #4b4b4b;
    border-color: #4b4b4b;
}
.panel-primary {
    border-color: #4b4b4b;
}

.btn-chart{
    margin-top: 20px;
    background-color: #173045;
    border-color: #173045;
    color: #ffffff;
    min-width: 130px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.btn-chart >i{
    color: #ffc977;
    margin-right: 5px;
}
input#prj_input.form-control{
    
    background-color: #FFFFFB;
    color: #000000;
    
    min-width: 234px;
}
input#doc_input.form-control{
    
    background-color: #FFFFFB;
    color: #000000;
    min-width: 290px;
}
.adm-logo{
    width: 35%;
}
.search-tabulator{
    float: inline-start;
    padding-left: 193px;
    margin: -383px;
    max-width: 520px;
    margin-top: 108px;
}
.chart-container.container {
    margin-left: 75px;
    margin-top: 25px;
    position: relative;
    height: 75vh;
    width: 55vw;
}
.tabulator {
    color: #06284b;
    background: #1961ab !important;
    height: 480px;
}
.row-chart{
    color: white;
    height: 478px;
    display: flex;
}



.tabulator-row-odd{
    background-color: #0095860d !important;
}
.duedate-chart{
    margin-left: 50px;
    float: inline-start;

}
.duedateStatus-chart{
    margin-left: 10px;
    margin-top:35px;
    
    
}
.docgroup-chart{
    margin-left: 25px;
}
.export-row >a{
    color: white;
    font-size: 20px;
    
}
.export-row >a >i{
    color: white;
    margin-top: 55px;
    margin-right: 10px;
    
}
.table-footer{
    text-align: center;
    background-color: #b2b2b2;
    max-height: 20px;
}
.ten-logo{
    
    float: inline-end;
    margin-top: -130px;
    margin-right: 69px;
}
.fa-right-long{
    color: #bf2b35;
}
.fa-left-long{
    color: #009587;
}