<div id="index-tabledata">
<div class="row-chart">

    <div class="col-sm-6 chart-container duedate-chart" style="position: relative; height: 800px; width: 100%; overflow: hidden; box-sizing: border-box;">
      <canvas id="box_duedateChart" width="800" height="460" style="display: block;"></canvas>
      
    </div>
    <div class="col-sm-6 chart-container duedateStatus-chart" style="position: relative;height:300px; width:300px">
      <canvas id="box_duedateStatusChart"></canvas>
        <div style="text-align: center; margin-top:25px">
          <h4>Actual  Box: {{all_box_count}}</h4>
          <h4>Endlife Box: {{endlife_box_count}}</h4>
        </div>
    </div>
  
  
  </div>




  <script>
       
    setTimeout(() => {
      var ctx2 = document.getElementById('box_duedateChart');
      var data = {{ box_endlife_chart_data | tojson | safe }};
      
      if (md) {
          md.destroy();
          console.log('md group data destroyed!');
        }
    
      var md = new Chart(ctx2, {
        type: 'bar',
        data: data,
        options: {
          responsive: false,
          maintainAspectRatio: false,
          onClick: (event, elements, chart) => {
            const i = elements[0].index;
            
            if (elements[0]) {            
               const i = elements[0].index;
               const di = elements[0].datasetIndex;
               //alert(chart.data.labels[i] + ': ' + chart.data.datasets[di].label);
               //document.getElementById('tag-id').innerHTML = '<div hx-get="/dashboard/type/'+chart.data.labels[i] +'" hx-trigger="load">'+ i +' data</div>';
               //htmx.process(document.getElementById('tag-id'));
               var label = chart.data.labels[i];
               window.open(`/volumeview/list/?_flt_1_endlife_date=${label}-01-01&_flt_2_endlife_date=${label}-12-31#`,'_blank');
               ///window.open(`/dashboard/chart/year/${label}`,'_blank');
    
            }
          },
          plugins: {
    
            legend: {
                display: true,
                color: 'white',
                labels: {
                  color: 'white'
                }
            },
            
          
          },
          scales: {
            x: {
              stacked: false,
              ticks: {
                color: 'white'
              }
    
            },
            y: {
              stacked: false,
              beginAtZero: true,
              ticks: {
                color: 'white'
              }
              
            }
          }
        }
      });
    }, 100);
  
  </script>

  <script>
    var ctx_box_duedateStatus = document.getElementById('box_duedateStatusChart');
      
    var box_duedateStatus_data = {{ box_endlife_status_chart |tojson | safe }};
    if (dsb) {
        dsb.destroy();
        console.log('ds group data destroyed!');
      }
    var dsb = new Chart(ctx_box_duedateStatus, {
    type: 'doughnut',
    data: box_duedateStatus_data,
    options: {
        onClick: (event, elements, chart) => {
        const i = elements[0].index;
        
        if (elements[0]) {            
            const i = elements[0].index;
            const di = elements[0].datasetIndex;
            //alert(chart.data.labels[i] + ': ' + chart.data.datasets[di].label);
            //document.getElementById('tag-id').innerHTML = '<div hx-get="/dashboard/type/'+chart.data.labels[i] +'" hx-trigger="load">'+ i +' data</div>';
            //htmx.process(document.getElementById('tag-id'));
            var label = chart.data.labels[i];
            console.log(label);
            let currentDate = new Date().toJSON().slice(0, 10);
            if (label === 'Endlife Documents') {
                window.open(`/volumeview/list/?_flt_2_endlife_date=${currentDate}#`,'_blank');
            } else if (label === 'Actual Documents') {
                window.open(`/volumeview/list/?_flt_1_endlife_date=${currentDate}#`,'_blank');
            }
            //window.open(`/volumeview/list/?_flt_2_endlife_date=${currentDate}#`,'_blank');

            //window.open(`/dashboard/chart/group/${label}`);
        }
        },
        plugins: {
            legend: {
                display: true,
                position: 'bottom',
                labels: {
                    color: 'white'
                }
                
            }
        }
    }
    });
    </script>