<div id="index-tabledata">
<div class="row-chart">

    <div class="chart-container" style="position: relative;">
      <canvas id="duedateChart" width="100" height="50%"></canvas>
    </div>
  </div>

</div>




  <script>
       
    var ctx2 = document.getElementById('duedateChart');
    var data = {{ doc_endlife_chart_data | tojson | safe }};
    
    if (md) {
        md.destroy();
        console.log('md group data destroyed!');
      }
  
    var md = new Chart(ctx2, {
      type: 'bar',
      data: data,
      options: {
        onClick: (event, elements, chart) => {
          const i = elements[0].index;
          
          if (elements[0]) {            
             const i = elements[0].index;
             const di = elements[0].datasetIndex;
             //alert(chart.data.labels[i] + ': ' + chart.data.datasets[di].label);
             //document.getElementById('tag-id').innerHTML = '<div hx-get="/dashboard/type/'+chart.data.labels[i] +'" hx-trigger="load">'+ i +' data</div>';
             //htmx.process(document.getElementById('tag-id'));
             var label = chart.data.labels[i];
             window.open(`/volumeview/list/?_flt_1_endlife_date=${label}-01-01&_flt_2_endlife_date=${label}-12-31#`,'_blank');
             ///window.open(`/dashboard/chart/year/${label}`,'_blank');
  
          }
        },
        plugins: {
  
          legend: {
              display: true
          },
          
          subtitle: {
              position: 'bottom',
              display: true,
              text: 'Custom Chart Subtitle'
          },
          title: {
            position: 'bottom',
            display: true,
            text: 'Custom Chart Title'
          }
        },
        scales: {
          x: {
            stacked: false
  
          },
          y: {
            stacked: false,
            beginAtZero: true
          }
        }
      }
    });
  
  </script>