<div id="index-tabledata">
<div class="row-chart">

    <div class="col-sm-6 chart-container duedate-chart" style="position: relative;height:800px; width:100%">
      <canvas id="duedateChart"></canvas>
      <div class="row">
        <div class="col-sm-6 export-row" style="width: 30%;">
          <a href="/export/endlife/docs"><i class="fa-regular fa-file-excel"></i>Endlife Documents</a>
        </div>
        <div class="col-sm-6 export-row" style="width: 70%;">
          <a href="/export/endlife/approval"><i class="fa-regular fa-file-excel"></i>Endlife for Approval (GTF-GPS-COR-24036)</a>
        </div>

      </div>
    </div>
    <div class="col-sm-6 chart-container duedateStatus-chart" style="position: relative;height:300px; width:300px">
      <canvas id="duedateStutusChart"></canvas>
        <div style="text-align: center; margin-top:25px">
          <h4>Actual  Doc: {{all_docs_count}}</h4>
          <h4>Endlife Doc: {{endlife_docs_count}}</h4>
        </div>
    </div>
  
  
  </div>

</div>




  <script>
       
    var ctx2 = document.getElementById('duedateChart');
    var data = {{ doc_endlife_chart_data | tojson | safe }};
    
    if (md) {
        md.destroy();
        console.log('md group data destroyed!');
      }
  
    var md = new Chart(ctx2, {
      type: 'bar',
      data: data,
      options: {
        onClick: (event, elements, chart) => {
          const i = elements[0].index;
          
          if (elements[0]) {            
             const i = elements[0].index;
             const di = elements[0].datasetIndex;
             //alert(chart.data.labels[i] + ': ' + chart.data.datasets[di].label);
             //document.getElementById('tag-id').innerHTML = '<div hx-get="/dashboard/type/'+chart.data.labels[i] +'" hx-trigger="load">'+ i +' data</div>';
             //htmx.process(document.getElementById('tag-id'));
             var label = chart.data.labels[i];
             window.open(`/volumeview/list/?_flt_1_endlife_date=${label}-01-01&_flt_2_endlife_date=${label}-12-31#`,'_blank');
             ///window.open(`/dashboard/chart/year/${label}`,'_blank');
  
          }
        },
        plugins: {
  
          legend: {
              display: true,
              color: 'white',
              labels: {
                color: 'white'
              }
          },
          
        
        },
        scales: {
          x: {
            stacked: false,
            ticks: {
              color: 'white'
            }
  
          },
          y: {
            stacked: false,
            beginAtZero: true,
            ticks: {
              color: 'white'
            }
            
          }
        }
      }
    });
  
  </script>

  <script>
    var ctx_duedateStatus = document.getElementById('duedateStutusChart');
      
    var duedateStatus_data = {{ doc_endlife_status_chart |tojson | safe }};
    if (ds) {
        ds.destroy();
        console.log('ds group data destroyed!');
      }
    var ds = new Chart(ctx_duedateStatus, {
    type: 'doughnut',
    data: duedateStatus_data,
    options: {
        onClick: (event, elements, chart) => {
        const i = elements[0].index;
        
        if (elements[0]) {            
            const i = elements[0].index;
            const di = elements[0].datasetIndex;
            //alert(chart.data.labels[i] + ': ' + chart.data.datasets[di].label);
            //document.getElementById('tag-id').innerHTML = '<div hx-get="/dashboard/type/'+chart.data.labels[i] +'" hx-trigger="load">'+ i +' data</div>';
            //htmx.process(document.getElementById('tag-id'));
            var label = chart.data.labels[i];
            window.open(`/dashboard/chart/group/${label}`);
        }
        },
        plugins: {
            legend: {
                display: true,
                position: 'bottom',
                labels: {
                    color: 'white'
                }
                
            }
        }
    }
    });
    </script>