{% extends "appbuilder/base.html" %}
{% block content %}
<div class="jumbotron index-box">
  <div class="container">
    <div class="col-sm-6 adm-logo">

      <div class="container" style="padding: 3;">
        
        <img class="lib-logo" src="{{url_for('static',filename='img/search_logo.png')}}" alt="" width="140px">
        
        
          <h1 class="index-title">{{_("ADM")}}</h1>
          <h3 class="index-subtitle">ARCHIVE DOCUMENT</h3>
          <h3 class="index-subtitle">MANAGEMENT</h3> 
        </div>
      
      
      
       
      
      
      
    </div>
    <div class="col-sm-6 qlogo-img">
      
        
        <div class="row">
          <div class="col-sm-3 ">
            <button type="button" class="btn btn-primary btn-chart" hx-get="/chart/site" hx-target="#index-tabledata" hx-swap="innerHTML">
              <i class="fa-solid fa-chart-column"></i> Location   
            </button>
          </div>
          <div class="col-sm-3 ">
            <button type="button" class="btn btn-primary btn-chart" hx-get="/chart/group" hx-target="#index-tabledata" hx-swap="innerHTML">
              <i class="fa-solid fa-chart-column"></i> Department
            </button>
          </div>
          <div class="col-sm-3 ">
            <button type="button" class="btn btn-primary btn-chart" hx-get="/chart/site" hx-target="#index-tabledata" hx-swap="innerHTML">
              <i class="fa-solid fa-chart-column"></i> Due Date
            </button>
          </div>
          


        </div>
    

    
    
     
    {% if not current_user.is_anonymous %}
    <form>
      <div class="search-tabulator">
        <div class="input-group" style="margin-bottom: 10px;">
          <span class="input-group-addon" id="basic-addon1">PROJECT</span>
          <input class="form-control" type="search" id="prj_input"
              name="project" placeholder="Filter By Project Number" 
              hx-post="/tabledata" 
              hx-trigger="input changed delay:500ms, search" 
              hx-target="#update-tabledata" 
              > 
        
          <span class="input-group-addon" id="basic-addon1">DOCUMENT</span>
          <input class="form-control" type="search" id="doc_input" 
              name="name" placeholder="Filter By Document Content" 
              hx-post="/tabledata" 
              hx-trigger="input changed delay:500ms, search" 
              hx-target="#update-tabledata" 
              > 
        </div>
      
      </div>
      
    </form>
  </div>
    {% else %}
    <div class="index-login">
        <a href="{{appbuilder.get_url_for_login}}">
        <i class="fa fa-fw fa-sign-in"></i>Please {{_("Login")}}</a>
    </div>
    {% endif %}
      
    
  </div>
</div>
<div class="jumbotron index-table">
  <div id="index-tabledata" hx-get="/tabledata" hx-trigger="load">
  </div>
  <div class="table-footer">
    <div class="col-sm-9">
      <small>* Query Limit 30K</small>
    </div>
    <div class="col-sm-3 ">
      <button " class="btn btn-primary export-btn" onclick='table.download("csv", "data.csv",";");'><i class="fa-regular fa-file-excel "><span style="margin: 10px;">Export</span>  </i></button>
    </div>
    
  </div>
</div>



<div class="jumbotron">
  <div class="row">
    <div style="margin: 40px; text-align:center">
      <h2>Box by Location</h2>
    </div>
    <div class="col-md-6">
      <div class="chart-container" style="position: relative; ">
        <canvas id="siteChart" width="100" height="100"></canvas>
      </div>
    </div>
    <div class="col-md-6">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Site</th>
              <th>Box</th>
            </tr>
          </thead>
          <tbody>
            {% for line in box_site_list %}
            <tr>
            <td>{{line[0]}}</td>
            <td>{{line[1]}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div>
          <h3 style="text-align: center;">Total: {{'{0:0,.0f}'.format(all_box)}}</h3>
        </div>
      </div>
    </div> 
  </div>
  <hr>
  <div class="row">
    <div style="margin: 40px; text-align:center">
      <h2>Documents by Group (Top 10)</h2>
    </div>
    
    <div class="col-md-6">
      <div class="chart-container" style="position: relative;">
        <canvas id="groupChart" width="100" height="100%"></canvas>
      </div>
    </div>
    <div class="col-md-6">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Site</th>
              <th>Documents</th>
            </tr>
          </thead>
          <tbody>
            {% for line in doc_group_list %}
            <tr>
              <td>{{line[0]}}</td>
              <td>{{line[1]}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div>
          <h3 style="text-align: center;">Total: {{'{0:0,.0f}'.format(all_doc)}}</h3>
        </div>
      </div>
    </div>
     
  </div>
  <hr>
  <div class="row">
    <div style="margin: 40px; text-align:center">
      <h2>Documents by Due Date (Top 10)</h2>
    </div>
    <div class="chart-container" style="position: relative;">
      <canvas id="duedateChart" width="100" height="50%"></canvas>
    </div>
  </div>
  
</div>

  
<div id="update-tabledata"></div>

<script>
        

  

  

   
  const ctx2 = document.getElementById('duedateChart');
  var data = {{ doc_endlife_chart_data | tojson | safe }};
  

  var md = new Chart(ctx2, {
    type: 'bar',
    data: data,
    options: {
      onClick: (event, elements, chart) => {
        const i = elements[0].index;
        
        if (elements[0]) {            
           const i = elements[0].index;
           const di = elements[0].datasetIndex;
           //alert(chart.data.labels[i] + ': ' + chart.data.datasets[di].label);
           //document.getElementById('tag-id').innerHTML = '<div hx-get="/dashboard/type/'+chart.data.labels[i] +'" hx-trigger="load">'+ i +' data</div>';
           //htmx.process(document.getElementById('tag-id'));
           var label = chart.data.labels[i];
           window.open(`/volumeview/list/?_flt_1_endlife_date=${label}-01-01&_flt_2_endlife_date=${label}-12-31#`,'_blank');
           ///window.open(`/dashboard/chart/year/${label}`,'_blank');

        }
      },
      plugins: {

        legend: {
            display: true
        },
        
        subtitle: {
            position: 'bottom',
            display: true,
            text: 'Custom Chart Subtitle'
        },
        title: {
          position: 'bottom',
          display: true,
          text: 'Custom Chart Title'
        }
      },
      scales: {
        x: {
          stacked: false

        },
        y: {
          stacked: false,
          beginAtZero: true
        }
      }
    }
  });

</script>

{% endblock %}