{% extends "appbuilder/base.html" %}
{% block content %}
<div class="jumbotron index-box">
  <div class="container">
    <div class="col-sm-6 adm-logo">

      <div class="container" style="padding: 3;">
        
        <img class="lib-logo" src="{{url_for('static',filename='img/search_logo.png')}}" alt="" width="140px">
        
        
          <h1 class="index-title">{{_("ADM")}}</h1>
          <h3 class="index-subtitle">ARCHIVE DOCUMENT</h3>
          <h3 class="index-subtitle">MANAGEMENT</h3> 
        </div>
      
      
      
       
      
      
      
    </div>
    <div class="col-sm-6 qlogo-img"> 
            
        <div class="row">
          <div class="col-sm-3 ">
            <button type="button" class="btn btn-primary btn-chart" hx-get="/chart/site" hx-target="#index-tabledata" hx-swap="innerHTML">
              <i class="fa-solid fa-chart-column"></i> Location   
            </button>
          </div>
          
          <div class="col-sm-3 ">
            <button type="button" class="btn btn-primary btn-chart" 
                                  hx-get="/chart/duedate" 
                                  hx-target="#index-tabledata" 
                                  hx-swap="innerHTML"
                                  hx-trigger="load, click">
              <i class="fa-solid fa-chart-column"></i> Documents
            </button>
          </div>

          <div class="col-sm-3 ">
            <button type="button" class="btn btn-primary btn-chart" 
                                  hx-get="/chart/box_duedate" 
                                  hx-target="#index-tabledata" 
                                  hx-swap="innerHTML"
                                  hx-trigger="load, click">
              <i class="fa-solid fa-chart-column"></i> Boxes
            </button>
          </div>
          
          <div class="col-sm-3 ">
            <button type="button" class="btn btn-primary btn-chart" hx-get="/chart/group" hx-target="#index-tabledata" hx-swap="innerHTML">
              <i class="fa-solid fa-chart-column"></i> Department
            </button>
          </div>

        </div>
    

    
    
     
    {% if not current_user.is_anonymous %}
    <form>
      <div class="search-tabulator">
        <div class="input-group" style="margin-bottom: 10px;">
          <span class="input-group-addon" id="basic-addon1">PROJECT</span>
          <input class="form-control" type="search" id="prj_input"
              name="project" placeholder="Filter By Project Number" 
              hx-post="/tabledata" 
              hx-trigger="input changed delay:500ms, search" 
              hx-target="#update-tabledata" 
              > 
        
          <span class="input-group-addon" id="basic-addon1">DOCUMENT</span>
          <input class="form-control" type="search" id="doc_input" 
              name="name" placeholder="Filter By Document Content" 
              hx-post="/tabledata" 
              hx-trigger="input changed delay:500ms, search" 
              hx-target="#update-tabledata" 
              > 
        </div>
      
      </div>
      
    </form>
  </div>
    {% else %}
    <div class="index-login">
        <a href="{{appbuilder.get_url_for_login}}">
        <i class="fa fa-fw fa-sign-in"></i>Please {{_("Login")}}</a>
    </div>
    {% endif %}
      
    
  </div>
</div>
<div class="jumbotron index-table">
  <div id="index-tabledata"></div>
</div>

  
  <div>
    <img class="ten-logo" src="{{url_for('static',filename='img/technip_logo.png')}}" alt="" width="140px">
  </div>
 



  
<div id="update-tabledata"></div>



{% endblock %}